.item {
  --height: 100px;

  height: var(--height);
  margin: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,1);
  font: 6em/var(--height) sans-serif;
  color: rgba(0,0,0,.05);
  position: relative;
}

.content {
  padding: 0 .2em;
  background: white;
}

body {
  margin: 0;
}

aside {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
  display: table;
  width: 100%;
}

aside button {
  font-size: 2em;
  display: table-cell;
  width: 20%;
  border: none;
  background: none;
}
